<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Input</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>内容送信</h2>

    <form th:action="@{/input}" method="POST">
		
		
	
    	<!--【利用者ID】<br>-->
    	<!--<input type="text" name="userId"><br>-->
		<!--<br>-->
    	【勉強日】<br>
    	<input type="date" name="study"><br>
		<br>
    	【勉強時間】(分で記載)<br>
		<input type="text" name="studyhours"><br>
		<br>
    	【教科】<br>
    	<input type="text"  name="comment" class="subject"><br>
    	<br>
    	【内容】<br>
    	<input type="text"  name="comment" class="comment"><br>
    	
		<br>
    	<input type="submit" value="登録" class="btn">

    </form>


</body>
</html>
