<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 下 CSS宣言中身なし-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Hello Spring</title>

</head>
<body>
		
	<h2>習得パラメータ</h2>


<!--   	【利用者ID】<br>-->
<!--   	<p th:text="${TestForm.userId}"></p><br><br>-->
<!--   	【勉強日】<br>-->
<!--   	<p th:text="${TestForm.study}"></p><br><br>-->
<!--   	【勉強時間】(1-5)<br>-->
<!--   	<p th:text="${TestForm.studyhours}"></p><br><br>-->
<!--   	【教科】<br>-->
<!--   	<p th:text="${TestForm.studyhours}"></p><br><br>-->
<!--   	【内容】<br>-->
<!--   	<p th:text="${TestForm.comment}"></p><br><br>-->

<!--   	testは小文字-->
	<div th:object="${testForm}">
		<!--   	【利用者ID】<br>-->
	   <!--  	<p th:text="*{userId}"></p><br><br>-->
	   【勉強日】<br>
	   	<p th:text="*{study}"></p><br><br>
	   	【勉強時間】<br>
	   	<p th:text="*{studyhours}"></p><br><br>
	   	【教科】(1-5)<br>
	   	<p th:text="*{subject}"></p><br><br>
	   	【内容】<br>
	   	<p th:text="*{comment}"></p><br><br>
	</div>
	<br>
	
	 <form th:action="@{/test}" method="POST"
			th:object="${testForm}">
    	 <!-- <input type="hidden" th:field="*{userId}">-->
    	<input type="hidden" th:field="*{study}">
    	<input type="hidden" th:field="*{studyhours}">
    	<input type="hidden" th:field="*{rating}">
    	<input type="hidden" th:field="*{subject}">
    	<input type="hidden" th:field="*{comment}">
    	<input type="submit" value="登録実行" class="btn">
   	</form>

    <form th:action="@{/n}" method="POST"
			th:object="${testForm}">
    	 <!-- <input type="hidden" th:field="*{userId}">-->
    	<input type="hidden" th:field="*{study}">
    	<input type="hidden" th:field="*{studyhours}">
    	<input type="hidden" th:field="*{rating}">
    	<input type="hidden" th:field="*{subject}">
    	<input type="hidden" th:field="*{comment}">
    	<input type="submit" value="もどる" class="btn">
   	</form>


</body>
</html>