<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- 下 CSS宣言中身なし-->
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Hello Spring</title>

</head>
<body>
		
	<h2>習得パラメータ</h2>


<!--   	【利用者ID】<br>-->
<!--   	<p th:text="${TesttForm.userId}"></p><br><br>-->
<!--   	【勉強日】<br>-->
<!--   	<p th:text="${TesttForm.study}"></p><br><br>-->
<!--   	【勉強時間】(1-5)<br>-->
<!--   	<p th:text="${TesttForm.studyhours}"></p><br><br>-->
<!--   	【教科】<br>-->
<!--   	<p th:text="${TesttForm.studyhours}"></p><br><br>-->
<!--   	【内容】<br>-->
<!--   	<p th:text="${TesttForm.comment}"></p><br><br>-->

	<div th:object="${TestForm}">
		<!--   	【利用者ID】<br>-->
	   <!--  	<p th:text="*{userId}"></p><br><br>-->
	   	【勉強日】<br>
	   	<p th:text="*{study}"></p><br><br>
	   	【勉強時間】<br>
	   	<p th:text="*{studyhours}"></p><br><br>
	   	【教科】(1-5)<br>
	   	<p th:text="*{study}"></p><br><br>
	   	【内容】<br>
	   	<p th:text="*{comment}"></p><br><br>
	   	
	   	
	  
	</div>

	<br>
	<a th:href="@{/input}">入力画面に戻る</a>

</body>
</html>